h1 {
  color: #ff9933;
  font-size: 60px;

}

body {
  text-align: center;
  align-items: center;
  background-color: #00ffff;
}

h2 {
  color: #ff9933;
  font-family: sans-serif;
  background-color: #ff9933;
}

a {
  padding: 40px;
  color: #0099ff;
}

p {
  font-style: sans-serif;
  font-size: 20px;
  padding-left: 150px;
  padding-right: 150px;
}
